<!DOCTYPE html>
<!-- 
This website uses the Semantic UI framework for its front end.
http://semantic-ui.com

# The MIT License

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Developed by: JAR
-->
<html ng-app="FacFeedback">
<head>
    <meta charset="utf-8" />
    <title>Faculty Feedback</title>
    <link rel="stylesheet" href="css/semantic.css" />
	<script src="scripts/jquery-1.11.2.js"></script>
    <script src="scripts/semantic.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/Angular/app.js"></script> 
<body ng-controller="MainCtrl" ng-init="SessionCheck()">
<!-- Menu component -->
    <div class="ui inverted menu">
      <a class="active item">
        <i class="home icon"></i> Home
      </a>
      <a class="item">
        <i class="mail icon"></i> Messages
      </a>1
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Faculty,University name">
            <i class="search link icon"></i>
          </div>
        </div>
        <div class="ui dropdown item">
          Language <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div>
        <div class="item" id="signUpButton">
            <div class="ui primary button" ng-show="!loggedin">Sign up</div>
        </div>
        <div class="item" id="LoginButton">
            <div class="ui button" ng-show="!loggedin">Log-in</div>
        </div>
        <div class="item" ng-click="Logout()">
            <div class="ui button" ng-show="loggedin">Log-out</div>
        </div>
      </div>
    </div>
    <!-- End of Menu -->
    <!-- Login Modal -->
    <div class="ui small modal" id="LoginModal">
        <i class="close icon"></i>
        <div class="header">
            Login
        </div>
        <form ng-submit="Signin()">
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        <div class="ui form segment">
                            <div class="one required fields">
                                <div class="field">
                                    <label>Username</label>
                                    <input ng-model="username" placeholder="Username" type="text">
                                </div>
                            </div>
                            <div class="one required fields">
                                <div class="field">
                                  <label>Password</label>
                                  <div class="ui input focus">
                                    <input ng-model="password" placehodler="Password" type="password">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="/auth/facebook"><div class="ui facebook button"><i class="facebook icon"></i>Facebook</div></a>
                    </div>
                </div>
            </div>
            <div class="actions">
                
                <div class="ui black button">
                    Forgot Password
                </div>
                <input class="ui positive right labeled icon button" type="submit" value="Sign In" />
            </div>
        </form>
    </div>
    <!-- End of Login Modal -->
    <!-- SignUp Modal -->
    <div class="ui small modal" id="signUpModal">
        <i class="close icon"></i>
        <div class="header">
            Sign Up
        </div>
        <form ng-submit="Signup()">
            <div class="content">
                <div class="ui form segment">
                    <div class="one required fields">
                        <div class="field">
                            <label>Username</label>
                            <input ng-model="username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="one required fields">
                        <div class="field">
                            <label>Password</label>
                            <div class="ui input focus">
                                <input ng-model="password" placehodler="Password" type="password">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="actions">
                <div class="ui black button">
                    Cancel
                </div>
                <input class="ui positive right labeled icon button" id="submit" type="submit" value="Create Account" />
            </div>
        </form>
    </div>
    <!-- End of Sign Up Modal -->
    <!-- Side Menu -->
    <div id="sidebar-content" class="ui left vertical inverted labeled icon sidebar menu"> 
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
        <a class="item">
            <i class="calendar icon"></i>
            History
        </a>
        <a class="item">
            <i class="mail icon"></i>
            Messages
        </a>
        <a class="item">
            <i class="chat icon"></i>
            Discussions
        </a>
        <a class="item">
            <i class="trophy icon"></i>
            Achievements
        </a>
        <a class="item">
            <i class="shop icon"></i>
            Store
        </a>
        <a class="item">
            <i class="settings icon"></i>
            Settings
        </a>
    </div>
    <!-- Side Menu -->
    <!-- Main Body -->
    <div class="ui grid">
        <div class="five wide column">
            <div id="sidebar-button" class="ui black big icon button">
                <i class="content icon"></i>
                <span class="text" style="display:none;">Menu</span>
            </div>
        </div>
        <div class="seven wide column">
            <div class="content">
                <div class="ui header">{{message}}</div>
                <div class="ui header">Welcome {{User_name}}</div>
                <ul ng-repeat="user in users">
                    <li>{{user.username}}</li>
                    --{{user.password}}
                </ul>     
            </div>
        </div>

        <div class="four wide column">
            <div class="content">
                <div class="ui card">
                    <div class="image dimmable">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">
                                        Change picture
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="images/pup.jpg">
                    </div>
                    <div class="content">
                        <div class="header">
                            {{User_name}}

                        </div>
                        <div class="meta">
                            <a class="group">{{university_name}}</a>
                        </div>
                        <div class="description">
                            Some statistics
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="right floated created">View ratings</a>
                        <a class="friends">
                        Update information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of main body -->
    <!-- Footer -->
    <footer>
    <div class="ui inverted footer vertical segment">
        <div class="ui stackable center aligned page grid">
          <div class="ten wide column">
            <div class="ui three column center aligned stackable grid">
              <div class="column">
                <h5 class="ui inverted header">Students</h5>
                <div class="ui inverted link list">
                  <a class="item">Report Abuse</a>
                  <a class="item">Rating Policy</a>
                  <a class="item">Complaints</a>
                </div>
              </div>
              <div class="column">
                <h5 class="ui inverted header">University</h5>
                <div class="ui inverted link list">
                  <a class="item">Claim account</a>
                  <a class="item">Update information</a>
                  <a class="item">Report Abuse</a>
                </div>
              </div>
              <div class="column">
                <h5 class="ui inverted header">About Us</h5>
                <div class="ui inverted link list">
                  <a class="item">The Team</a>
                  <a class="item">Our concept</a>
                  <a class="item">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
          <div class="six wide column">
            <h5 class="ui inverted header">Contact Us</h5>
            <cite>
              66 XYZ<br>
              Chennai India <br>
            </cite>
            <p>+91-9600089909</p>
          </div>
        </div><br />
        <div style="align:center;">
        Developed by Jyotheeswar Arvind M, Ritikesh G, Ankur Sinha &nbsp; <i class="india flag"></i></div>
      </div>
      </footer>
     <!-- End of footer -->
      <!-- scripts -->
        <script src="Scripts/jquery-1.11.2.js"></script>
        <script src="Scripts/semantic.js"></script>
        <script>
            $('#sidebar-button').hover(function () {
                $('.text').toggle();
                //$('.text').transition('browse right');
            });
            $('#sidebar-button').click(function () {
                $('#sidebar-content').sidebar('toggle');
            });
        </script>
        <script type="text/javascript">
            $('#LoginButton').click(function () {
    	        $('#LoginModal').modal('show');
            });
            $('#signUpButton').click(function () {
    	        $('#signUpModal').modal('show');
            });
        </script>
      <!-- End of scripts -->
</body>
</html>